
.background-image
{
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./MINIMALIST.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
}
.navbar {
    height: 12%;
    display: flex;
    align-items: center;
}
.logo {
    width: 50px;
    cursor: pointer;
}
.cart-icon {
    width: 30px;
    cursor: pointer; 
    margin-left: 10px; 
}
.login-icon {
    width: 30px;
    cursor: pointer;
    margin-left: 50px;
    line-height: 2;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li {
    list-style: none;
    display: inline-block;
    margin-left: 60px;
    margin-right: 30px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
a {
    font-size: 20px;
}